/* Accordéon Container */
.accordeon {
    display: flex;
    gap: 10px;
    width: 100%;
    max-width: 100%;
    margin: 20px auto;
    overflow-x: auto; /* Permet le défilement horizontal */
    padding: 10px;
    scrollbar-width: thin; /* Style des scrollbars pour Firefox */
    scrollbar-color: #ccc transparent;
  }
  
  